.gameContainer{
    padding-top: 10vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mistakesDiv, .guessedDiv{
    line-height: 1.6;
    border: 1px solid black;
    border-radius: 14px;
    margin: auto;
    padding: 14px;
    background-color: #ffffffc7;
    margin-top: -15px;
}
.inputDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex: 1;
}
.inputBar{
    width: 165px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 14px;
}
.inputBar::placeholder{
    font-family: 'Inter', sans-serif;
}
.inputBar:focus{
    outline: none;
}
.guessButton, .retryButton{
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    transition: 0.2s;
    border: none;
}
.guessButton:hover, .retryButton:hover{
    background-color: rgb(44, 51, 116);
    transition: 0.1s;
    border: none;
}
.endGame{
    margin: auto;
    padding: 20px;
    display: inline-flex;
    margin-top: 5px;
    flex-direction: column;
    gap: 20px;
}
.hangmanDrawingDiv{
    margin: auto;
    z-index: 2;
}
.resultText, .wordReveal, .retryButton, .definition{
    display: inline;
    display: none;
}
.retryButton{
    margin: auto;
}
@media screen and (max-width: 600px) {
    .hangmanDrawingDiv{
        scale: 0.7;
        margin-top: -5vh;
        margin-bottom: -5vh;
    }
    .endGame{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
  }